.list {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.user {
    height: 2.2em;
    border: 1px solid #BEBEC6;
    border-radius: 5px;
    margin: 1em 0;
    padding-left: 0.5em;
    line-height: 2.2em;
}

.appear {
    animation: appear 1s ease;
}

@keyframes appear {
    from {opacity: 0;}
    to {opacity: 1;}
}