.form-control {
    margin-bottom: 1em;
}

.form-control input {
    display: block;
    width: 100%;
    border: 1px solid #BEBEC6;
    height: 2.5rem;
    font-size: 1.2rem;
    border-radius: 5px;
    padding-left: 0.7em;
}

.form-control input:focus {
    border-color: #65B0C1;
    box-shadow: 2px 2px 5px rgba(0,0,0,0.1),
                -2px -2px 5px rgba(0,0,0,0.1);
}

.form-control label {
    font-size: 1.2rem;
}