*,
*::before,
*::after {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

input:focus,
button:focus {
    outline: none;
}

body {
    background-color: #353a47;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

input[type="number"] {
    -webkit-appearance: textfield;
    -moz-appearance: textfield;
    appearance: textfield;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
}
